.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.CreateGame {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorHelpText {
  font-size: 1rem;
  color: lightcoral;
  padding: 1rem 5rem;
}

body {
  font-size: 1.5rem;
}


h1 {
  font-size: 4rem;
  margin: 1rem;
}

p {
  margin: 1rem;
}

small {
  font-size: 1rem;
  margin: 1rem;
}

input[type="text"].largeToken {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  text-align: center;
}

button[type="submit"] {
  font-size: 2rem;
  padding: 1rem;
  margin: 1rem;
  display: block;
}

